/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

/* Customize your tailwind theme here. */
@theme {
    /* Color */
    --color-*: initial;

    --color-white: #fff;
    --color-black: #000;

    --color-neutral-50: oklch(98.5% 0 0);
    --color-neutral-100: oklch(97% 0 0);
    --color-neutral-200: oklch(92.2% 0 0);
    --color-neutral-300: oklch(87% 0 0);
    --color-neutral-400: oklch(70.8% 0 0);
    --color-neutral-500: oklch(55.6% 0 0);
    --color-neutral-600: oklch(43.9% 0 0);
    --color-neutral-700: oklch(37.1% 0 0);
    --color-neutral-800: oklch(26.9% 0 0);
    --color-neutral-900: oklch(20.5% 0 0);
    --color-neutral-950: oklch(14.5% 0 0);

    --color-gray-100: hsla(225, 22.2%, 92.9%, 1);
    --color-gray-200: hsla(224, 14.3%, 84.9%, 1);
    --color-gray-300: hsla(223, 11.4%, 69%, 1);
    --color-gray-500: hsla(224, 10%, 44.9%, 1);
    --color-gray-700: hsla(224, 12.8%, 22.9%, 1);
    --color-gray-900: hsla(225, 18.2%, 12.9%, 1);

    --color-brand-100: hsla(262, 80.5%, 92%, 1);
    --color-brand-500: hsla(261, 77.8%, 49.4%, 1);
    --color-brand-700: hsla(261, 79.1%, 32%, 1);
    --color-brand-900: hsla(262, 84.2%, 14.9%, 1);

    --color-success-100: hsla(101, 66%, 86%, 1);
    --color-success-300: hsla(101, 92%, 76%, 1);
    --color-success-500: hsla(101, 74%, 42%, 1);
    --color-success-700: hsla(101, 80%, 29%, 1);
    --color-success-900: hsla(101, 87%, 14%, 1);

    --color-danger-100: hsla(2, 90%, 90%, 1);
    --color-danger-300: hsla(3, 96%, 77%, 1);
    --color-danger-500: hsla(3, 82%, 48%, 1);
    --color-danger-700: hsla(3, 75%, 34%, 1);
    --color-danger-900: hsla(4, 86%, 18%, 1);

    /* Font size */
    --text-*: initial;

    --text-xs: 0.875rem;
    --text-xs--line-height: calc(1.25 / 0.875);
    --text-sm: 0.9375rem;
    --text-sm--line-height: calc(1.25 / 0.9375);

    --text-label-text: 1.125rem;
    --text-label-text--line-height: 1;
    --text-caption: 0.875rem;
    --text-caption--line-height: 1;
    --text-button: 1rem;
    --text-button--line-height: 1;

    --text-base: 1.125rem;
    --text-base--line-height: 1.5;
    --text-h4: 1.25rem;
    --text-h4--line-height: calc(1.75 / 1.25);
    --text-h3: 1.5rem;
    --text-h3--line-height: calc(2 / 1.5);
    --text-h2: 2rem;
    --text-h2--line-height: 1;
    --text-h1: 2.5rem;
    --text-h1--line-height: 1.15;

    --text-hero: 4rem;
    --text-hero--line-height: 1.1;

    /* Font weight */
    --font-weight-*: initial;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    /* Font family */
    --font-sans:
        'Plus Jakarta Sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    /* Text shadow */
    --text-shadow-*: initial;

    /* Blur filter */
    --blur-*: initial;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/plus_jakarta_sans-variable.ttf') format('truetype-variations');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@layer base {
    button:enabled {
        cursor: pointer;
    }
}
