<section class="px-20 py-24">
    <div class="mx-auto max-w-7xl">
        <h2 class="mb-24 text-h2 font-extrabold tracking-tight">
            Everything in One Place, Supercharged with AI
        </h2>

        <!-- Features Grid -->
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
            @for (feature of features; track feature.title) {
            <app-feature-card
                [title]="feature.title"
                [description]="feature.description"
                [illustrationSrc]="feature.illustrationSrc"
                [class]="feature.big ? 'lg:col-span-2' : ''"
            />
            }
        </div>
    </div>
</section>
