<div [class]="message().user_id === null ? 'flex justify-start' : 'flex justify-end'">
    <div
        [class]="message().user_id === null
                        ? 'max-w-4/5 bg-gray-100 border border-gray-200 text-gray-700'
                        : 'max-w-4/5 bg-brand-500 text-white border-brand-500'"
        class="rounded-2xl p-4"
    >
        <markdown
            [data]="message().content"
            class="prose-sm max-w-none break-words"
            [ngClass]="message().user_id !== null ? 'prose-dark' : 'prose'"
        />
    </div>
</div>
