<div class="flex gap-3">
    <p-avatar
        [label]="comment().user.name ? undefined : 'A'"
        [image]="comment().user.avatar_url || undefined"
        size="normal"
        shape="circle"
    />
    <div class="line-clamp-6 flex-1">
        <div class="flex items-baseline justify-between gap-2">
            <span class="text-sm font-semibold">{{ comment().user.name }}</span>
            <span class="text-xs text-gray-500">
                {{ comment().created_at | date: 'MMM d, yyyy' }}
            </span>
        </div>
        <p class="mt-1 text-[16px] text-gray-700">{{ comment().content }}</p>
    </div>
</div>
