<nav
    class="flex max-w-[220px] shrink-0 grow flex-col border-r border-r-black/10 bg-brand-100 px-8 py-6 lg:max-w-[250px]"
>
    <ul class="grow space-y-8">
        @for (link of sidebarLinks; track link.id) {
            @if ('path' in link) {
                <li>
                    <a
                        [routerLink]="[link.path]"
                        #rla="routerLinkActive"
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLinkActive="font-semibold text-brand-500"
                        class="flex items-center gap-2"
                        [class.text-gray-700]="!rla.isActive"
                        [class.font-medium]="!rla.isActive"
                    >
                        {{ link.label }}
                    </a>
                </li>
            } @else {
                <hr class="border-black/10" />
            }
        }
    </ul>
</nav>

<main class="flex-1 overflow-auto px-4 py-8 lg:px-8 lg:py-12">
    <router-outlet />
</main>
