<footer class="bg-[#E9EBF1] px-20 py-8">
    <div class="flex flex-col items-center gap-6">
        <img src="/source-logo-brand.svg" alt="Source" height="64" class="h-16 w-auto" />

        <p>© 2025 Source. All rights reserved.</p>

        <div class="h-px w-full bg-black/20"></div>

        <div class="flex items-center justify-center gap-8">
            <a
                href="#"
                class="text-button font-bold text-gray-700 transition-colors hover:text-gray-900"
            >
                Terms
            </a>
            <a
                href="#"
                class="text-button font-bold text-gray-700 transition-colors hover:text-gray-900"
            >
                Privacy Policy
            </a>
            <a
                href="#"
                class="text-button font-bold text-gray-700 transition-colors hover:text-gray-900"
            >
                Contact Us
            </a>
        </div>
    </div>
</footer>
