<div class="flex min-h-full flex-col items-stretch justify-center gap-y-8 p-4">
    <app-logo class="mx-auto" />

    <div class="shadow-xs mx-auto w-full max-w-[580px] rounded-3xl border border-gray-200 p-14">
        <h1 class="text-h2 mb-14 text-center font-bold tracking-tight">Log in to your account</h1>

        @if (errorMessage()) {
        <div class="mb-4">
            <p-message severity="error"> {{ errorMessage() }} </p-message>
        </div>
        }

        <form class="mb-8 space-y-8" [formGroup]="loginForm" (ngSubmit)="login()">
            <fieldset class="space-y-4" [disabled]="isLoading()">
                <div class="flex flex-col gap-1">
                    <label class="text-label-text">Email Address</label>
                    <input
                        pInputText
                        formControlName="email"
                        type="email"
                        name="email"
                        class="w-full"
                        placeholder="john@example.com"
                        [invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                    />
                    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                    <p-message severity="error" variant="simple">
                        Must be a valid email.
                    </p-message>
                    }
                </div>
                <div class="flex flex-col gap-1">
                    <label class="text-label-text">Password</label>
                    <input
                        pInputText
                        formControlName="password"
                        type="password"
                        name="password"
                        class="w-full"
                        [invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                    />
                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                    <p-message severity="error" variant="simple">Password is required.</p-message>
                    }
                </div>

                <div class="text-end">
                    <a
                        routerLink="/auth/forgot-password"
                        class="text-button text-brand-500 font-bold hover:underline"
                    >
                        Forgot password?
                    </a>
                </div>
            </fieldset>

            <p-button type="submit" fluid [disabled]="!loginForm.valid" [loading]="isLoading()">
                @if (isLoading()) { Logging in... } @else { Log in }
            </p-button>
        </form>

        <div class="text-button text-center text-gray-700">
            Don't have an account?
            <a routerLink="/auth/register" class="text-brand-500 font-bold hover:underline"
                >Create an account</a
            >.
        </div>
    </div>
</div>
